.mainHeader{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1em;
    border: 1px solid whitesmoke;
}

.mainImgBox{
    height: 100%;
}
.mainLogo{
    height: 100%;
    width: auto;
}

.mainCard{
    margin: 1em;
    padding: 1em;
    gap:1em;
}

/* 수정 */
.PostsModalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    border: 1px solid whitesmoke;
    margin-bottom: 4em;
}
.PostsBodyHeader{
    display: flex;
    align-items: center;
    gap: 1em;
}
.PostsBodyHeaderImgBox{
    width: 4em;
    height: 4em;
}
.PostsBodyHeaderImg{
    width: 100%;
    height: 100%;
    border-radius: 2em;
}
.PostsBody{
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.PostsBodyImg{
    width: 100%;
    height: auto;
}